body {
    margin: 0px;
    font-size: 20px;
    font-family: 'Merriweather', serif
}

#top-header {
    padding-top: 70px;
    width: auto;
    height: 450px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-image: url(img2.jpg);
    background-size: cover;
}

a {
    margin: 10px;
    padding: 10px;
    color: white;
    text-decoration: none;
    background-color: orangered;
    border-radius: 7px;
}

#donate-today {
    text-align: center;

}

.flex {
    display: flex;


}

.serioul {
    text-align: center;
    margin-left: 200px;
    padding: 0px;
    color: gray;
}

#border {
    border: 2px solid orangered;
    padding: 27px;
    border-radius: 8px;
    background-color: peachpuff;
    color: black;
}

.middle {
    text-align: center;
    color: gray;
}

.middle h1 {
    color: black;
}

.added-border {
    height: 300px;
    width: 350px;
    margin: 20px;
    padding: 40px;
    border-radius: 5px;

}

#padding-left {
    padding: 150px;
}

#bg-color1 {
    background-color: rgb(168, 139, 143);
}

#bg-color2 {
    background-color: rgb(203, 171, 211);
}

#bg-color3 {
    background-color: rgb(221, 189, 189);
}

.half-width {
    width: 50%;
    padding: 100px;
}

.half-width img {
    width: 100%;
}